@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model int

    <h2 class="display-4">Add new Goods</h2>

    <form action="/categories/AddGoods" method="post">
        <div>
            <input type="hidden" name="SubCategoryId" value="@Model" />
            <div>
                <label>Name</label>
                <input type="text" name="goodsName" value="" />
            </div>
            <div>
                <label>Description</label>
                <input type="text" name="Description" value="" />
            </div>
            <div>
                <label>Price</label>
                <input type="number" name="Price" value="" />
            </div>
            <div>
                <input type="submit" name="" value="Save" />
            </div>
        </div>
    </form>


