@{
    ViewData["Title"] = "Add To Database";
}
@model List<Category>

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <td>Category</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
