@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model  Category

    <form action="/" method="post">
        <label>Category Id</label>
        <label>@Model.ID</label> 
        <label>Goods Name</label>
    </form>